In [12]:
# importing libiray
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

porter = PorterStemmer()

In [13]:
# normalization
def cleanText(text):
    text = text.lower()
    text = re.sub('[^\w\s]','',text)
    txt=[]
    for w in text.split():
        stemWord = porter.stem(w)
        txt.append(stemWord)
    txt = ' '.join(txt)
    return txt

In [21]:
# reading the datasets (training - testing - validation)
train_df = pd.read_csv('Dataset/train.csv')
test_df = pd.read_csv('Dataset/test.csv')
val_df = pd.read_csv('Dataset/val.csv')
train_df.head()

,document,summary
0,jason blake of the islanders will miss the res...,blake missing rest of season
1,the u.s. military on wednesday captured a wife...,u.s. arrests wife and daughter of saddam deput...
2,craig bellamy 's future at west ham appeared i...,west ham drops bellamy amid transfer turmoil
3,cambridge - when barack obama sought advice be...,in search for expertise harvard looms large
4,"wall street held on to steep gains on monday ,...",wall street ends a three-day losing streak

In [15]:
train_df['document'] = train_df['document'].apply(cleanText)
train_df.head()

,document,summary
0,jason blake of the island will miss the rest o...,blake missing rest of season
1,the us militari on wednesday captur a wife and...,u.s. arrests wife and daughter of saddam deput...
2,craig bellami s futur at west ham appear in do...,west ham drops bellamy amid transfer turmoil
3,cambridg when barack obama sought advic befor ...,in search for expertise harvard looms large
4,wall street held on to steep gain on monday ch...,wall street ends a three-day losing streak

In [9]:
#check for null values
train_df.isnull().sum()

document    0
summary     0
dtype: int64

In [18]:
#----------

In [19]:
#----------